@import "src/main.css";
@import "src/navbar.css";
@import "src/dropdown.css";
@import "src/searchbar.css";

@font-face {
    font-family: 'custom';
    src: url(Fonts/Torus-SemiBold.otf);
}

/*profile*/
#action #avatar {

  position: relative;
  width: 70px;
  height: 70px;
  border: 50%;
  overflow: hidden;
  margin-right: 120px;
  margin-top: 4px;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;

}

/*profile*/
#action #avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
