@import "src/sign-in.css";
@import "src/default.css";

@font-face {
    font-family: 'custom';
    src: url(Fonts/Torus-SemiBold.otf);
}

#content{
    padding: 0;
}

.container{
    display: flex;
}

#contents{
    width: 50%;
}

#col{
    width: 50%;

}

/* #nav #sign {
    width: 100%;
} */


#nav ul {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    padding-left: 130px;
}

#nav a {
    padding-top: 15px;
    padding-left: 5.3px;
}

#nav {
    display: flex;
}

#nav, #items {
    display: flex;
    align-items: center;
    padding-left: 5.3px;
}

#home, #about {
    color: white;
    padding: 12px;
    text-decoration: none;
}

#home:hover, #about:hover {
    overflow: visible;
    color: plum;
    }

/* ARTERNUM PATI LOGO SA FIRST ENCOUNT
#atitle {
    transition: 0.3s;
    transform: 0.3s;
    padding-right: 60px;
    font-size: 24px;
    color: yellow;
    text-decoration: none;
}


#navlogo {
    transition: 0.3s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: auto;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 140px;
    filter: hue-rotate(-40deg);  
}
*/


#sign p  {
    color: plum;
    float:right;
    margin-top: -20px;
    margin-right: 150px;
    text-decoration: none;
    cursor: pointer;
}

#sign:hover p {
    overflow: visible;
    color: white;
}

#header-first {
    overflow: hidden;
    background-color: #221f2e;
    margin: 0px 130px 0 130px;
    padding: 15px;
    padding-bottom: 30px;
    font-size: 18px;
    color: white;
}

#header-first span {
    margin-left: 78px;
}


#hugelogo {
    position: relative;
    width: 300px;
    height: 300px;
    border: 50%;
    overflow: hidden;
    margin-left: auto;
  margin-right: auto;
}

#hugelogo img {
    filter: hue-rotate(-40deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logopad{
   padding: 65px;

}

#sipad{
    padding: 10px;
    background-color: blueviolet;
    cursor: pointer;
    align-items: center;
    position: relative;  
}

a{
text-decoration: none;

}

#intro{
  text-align: center;
}

#intro h1{
    position: relative;
    color: yellow;
}

p{
    text-align: justify;
    margin-right: 50%;
}

#action #menu{

}

