@import "src/default.css";
@import "src/navbar.css";
@import "src/dropdown.css";
@import "src/searchbar.css";

@font-face {
    font-family: 'custom';
    src: url(Fonts/Torus-SemiBold.otf);
}

#c{
    padding: 2px;
}

#content{
    padding: 0;
}

#contents{
    width: 85%;
    background-color: rgb(36, 32, 32);
}

#col{
    width: 25%;
   
}

#col p{
    font-size: 25px;
}



.container{
    display: flex;
}

.item-2{
    flex-grow: 1    ;
}