@import "src/default.css";
@import "src/navbar.css";
@import "src/dropdown.css";
/* @import "src/searchbar.css"; */

@font-face {
    font-family: 'custom';
    src: url(Fonts/Torus-SemiBold.otf);
}

.modim img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}


/*profile*/
#po #ava {

    position: relative;
    width: 70px;
    height: 70px;
    border: 50%;
    overflow: hidden;
    margin-right: 125px;
    margin-top: 4px;
    transition: 0.3s;


}

/*profile*/
#po #ava img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

#ava{
    border-radius: 50%;
    width: 8%;
}

.grid-wrapper {
    width: 100%;
    columns: 5;
    column-gap: 15px;
    padding: 15px;
}

.alb img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: black;
}

.alb:hover img {
    opacity: 0.3;
}

