@import "src/default.css";
@import "src/navbar.css";
@import "src/dropdown.css";
/* @import "src/searchbar.css"; */

@font-face {
    font-family: 'custom';
    src: url(Fonts/Torus-SemiBold.otf);
}


.modim img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.grid-wrapper{
    width: 100%;
    columns: 5;
    column-gap: 15px;
    padding: 15px;
}

.alb img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: black;
}

.alb:hover img {
    opacity: 0.3;
}