#icon { /*Parent Div*/
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 10px 25px 10px;


}

#navbar {
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  font-size: 16px;
  margin-top: 2%;
  margin-left: 17%;
}

#navbar a{
  color: white;
  float: left;
  padding-right: 1%;
  
}

#wrapper {
  float: right;
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px 10px 100px 10px;
  padding-right: 150x;
  background: #5638ac;
  opacity: 0;
  transition: .3s;
}

#Xover{
  overflow: hidden;
  background-image: url('images/cover.jpg');
  filter: blur(1px) ;
  position: relative;
  padding: 10px 10px 160px 10px;
}



#logo { /*icon*/
  transition: 0.3s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('images/sample.png');
  background-size: cover;
  background-position: auto;
  position: relative;
  float: left;
  margin-left: 150px;
}



#search { /*icon*/
  transition: 0.3s;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('images/search.png');
  background-size: cover;
  background-position: auto;
  position: relative;
  font-size: 12px;
  margin-left: 17%;
  margin-top: 2%;
}

/*profile tooltop*/
#icon, #avatar, #avatar::before, #avatar::after{
  float: right;
}


#avatar::before,
#avatar::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: #333;
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

#avatar::before {
  --translate-y: calc(170% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

#avatar:hover::before,
#avatar:hover::after {
  --scale: 1;
}

#avatar::after {
  --translate-y: calc(1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color); /*arrow pointing upward*/
  transform-origin: bottom center;
}

#icon, #search, #search::before, #search::after{
  float: left;
}

#search::before,
#search::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: #333;
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

#search::before {
  --translate-y: calc(170% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: left;
  width: max-content;
  /*max-width: 100%;*/
  background: var(--tooltip-color);
}

#search:hover::before,
#search:hover::after {
  --scale: 1;
}

#search::after {
  --translate-y: calc(1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color); /*arrow pointing upward*/
  transform-origin: bottom center;
}