#menu{
    margin: 0;
    padding: 0;
}

#action #menu
{
    position:fixed;
    right: 85px;
    padding: 10px;
    background: #292727;
    width: 150px;
    box-sizing: 0 5px 25px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    
    /*not clicked*/
    visibility: hidden;
    opacity: 0;
    border: 2px black;
    color: white;
 
}

/*clicked*/
#action #menu.active
{
    transform-origin: top center;
    animation: translateY 0.3s ease-in-out forwards;
    visibility: visible;
    opacity: 1;

}

@keyframes translateY {
    0% { opacity: 0; transform: translateY(-60px); }

    100% { opacity: 1; transform: translateY(0px); }
}

#action #menu h3
{  
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

#action #menu p
{
    font-size: 10px;
    text-align: center;
  
}

#action #menu ul{
    list-style-type: none;
}

#menu a{
        padding-left: 5px;
        text-decoration: none;
        margin-left: 28px;
        color: rgb(155, 59, 245);
        
    }

#menu .link:hover {
    border-left: 4px solid #5638ac;
    overflow: visible;
    color: rgb(255, 252, 252);
    margin-left: 24.5px;
    }
