

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'custom';
   
}

body {
    background-color: #18171c;
    color: white;
}

nav {
    overflow: visible;
    background-color: #2e293d;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin: 0px 130px 0 130px;
}

nav ul {
    margin-left: 100px;

}

nav li {
    border-bottom: 1px solid #5638ac;
    font-size: 14px;
}

nav .tabs {
    list-style-type: none;
    display: flex;
}

nav .tabs .tab {
    display: block;
}

nav .tabs .tab a[data-switcher] {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: #c2b8e0;

}

nav .tabs .tab:hover a[data-switcher] {
    overflow: hidden;
    border-bottom: 3px solid #5638ac;
    color: #fff;
}

nav .tabs .tab.is-active a[data-switcher] {

    font-weight: 700;
    color: #fff;
    border-bottom: 3px solid #5638ac;
}

main {
    padding-left: 130px;
    padding-right: 130px;
}

.pages {
    background-color: #24222a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 30px 100px 110px 100px;
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

::-webkit-scrollbar {
    width: 0px;
}

/* dashboard header */
#header {
    overflow: hidden;
    background-color: #221f2e;
    margin: 96.5px 130px 0 130px;
    padding: 15px;
    padding-bottom: 30px;
    font-size: 18px;
    color: white;
}

#header span {
    margin-left: 78px;
}

#homeicon {
    margin-top: -23px;
    margin-left: 37px;

    position: relative;
    width: 10px;
    height: 10px;
}

#footer {
    background-color: #24222a;
    margin-top: 7px;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    color: #c2b8e0;
  }
  
  #footer a {
    padding: 12px;
    text-decoration: none;
    color: white;
  }