#menu{
    margin: 0;
    padding: 0;
}


#action #menu
{
    position:fixed;
    margin-top: 35px;

    right: 85px;
    padding: 10px;
    background: #393838;
    width: 300px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.3s;
    border: 10px black;

    /*default*/
    visibility: hidden;
    opacity: 0;
    border: 2px black;
    color: white;
    
 
}

#action #menu.active
{
    visibility: visible;
    opacity: 1;
}

#action2 #menu2 h3
{
    
    font-size: 15px;
    text-align: left;
    padding-top: 10px;
}

#action #menu p
{
    text-align: left;
    font-size: 15px;
 
  
}


#action #menu a{
    
    text-decoration: none;
    margin-left: 27px;
    color: tomato;
   
   
}


#action #menu ul{
    list-style-type: none;
}



