#navbar {
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  padding-left: 100px;


}

#wrapper {
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 15px;
  padding-right: 165px;
  background-color: #f1f1f1;
}

#wrapper a{
  float: right;
}

#navbar a {
  padding: 28px;
  float: left;
  color: black;
  text-align: center;
  text-emphasis-position: bottom;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

#navbar #logo  {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#avatar {
  
  transition: 0.3s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('images/DefaultProfile.png');
  background-size: cover;
  background-position: auto;
  position: auto;
  
}

#avatar::before,
#avatar::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: black;
  position: absolute;
  bottom: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: top center;
}

#avatar::before {
  --translate-y: calc(100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

#avatar:hover::before,
#avatar:hover::after {
  --scale: 1;
}

#avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color); /*arrow pointing upward*/
  transform-origin: bottom center;
}